[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"

[requires]
python_version = "3.12"

[scripts]
migrate = "bash -c \"alembic upgrade head\""

[dev-packages]
